@font-face {
  src: url(../fonts/Product-Sans/Product-Sans-Regular.ttf);
  font-family: Product-Sans;
}

form {
  width: inherit;
}

form * {
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  grid-area: "input";
  height: 40px;
  width: 100%;
  resize: none;
  color: #fff;
  line-height: 22px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: rgba(245, 245, 245, 0.05);
}

textarea {
  min-height: 80px;
}

.hero > form {
  padding: 0 50px;
}

.search--bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto auto;
      grid-template-columns: 1fr auto auto;
  grid-gap: 10px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: rgba(245, 245, 245, 0.05);
}

.search--bar input[type="text"] {
  color: #fff;
  font-size: 0.875rem;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  background: transparent;
}

.search--bar button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.add--bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: rgba(245, 245, 245, 0.05);
}

.add--bar input[type="text"] {
  color: #fff;
  font-size: 0.875rem;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  background: transparent;
}

.add--bar button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form {
  max-width: 350px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 10px;
  color: #fff;
  padding: 0 10px !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  /* Rounded sliders */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch input:checked + .slider {
  background-color: #1f39eb;
}

.switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #1f39eb;
          box-shadow: 0 0 1px #1f39eb;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.switch .slider.round {
  border-radius: 20px;
}

.switch .slider.round:before {
  border-radius: 50%;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.preview--container {
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr;
      grid-template-columns: 100px 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 10px;
      grid-template-areas: "preview";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preview--container p.meta {
  padding: 10px;
}

.preview--container img,
.preview--container .image--preview {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  grid-area: "preview";
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.preview--container label {
  position: absolute;
  left: 100px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
  bottom: 0;
  opacity: 0.5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.preview--container label:hover {
  opacity: 1;
}
/*# sourceMappingURL=formcomponents.css.map */